@inherits UmbracoViewPage<GradimoZajedno.Core.ViewModels.Pages.PageViewModel>

@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/style.min.css">
	<script defer src="/js/global.min.js"></script>

	<meta name="viewport" content="width=device-width" />
	@{
		Html.RenderPartial("_MetaTags", Model.MetaTags);
		Html.RenderPartial("_OpenGraph", Model.OpenGraph);
	}
	@PrintCode(Model.GoogleTagManagerScriptCode)
	@if (!string.IsNullOrWhiteSpace(Model.CookieScript))
	{
		@Html.Raw(Model.CookieScript)
	}
</head>
<body>
@PrintCode(Model.GoogleTagManagerNonScriptCode)
@{
	Html.RenderPartial("_Header", Model.Header);
}
<div>
	@RenderBody()
</div>
@{
	Html.RenderPartial("_Footer", Model.Footer);
}
@PrintCode(Model.GoogleAnalyticsCode)

@await Html.PartialAsync("_CookieConsent")

</body>
</html>

@{
    object? PrintCode(string code) {
        if (!string.IsNullOrWhiteSpace(code))
        {
            @Html.Raw(code)
        }
		return null;
    }
}
