<div class="cards">
	<div class="cards__bg has-cover" style="background-image: url({{backgroundImage}});"></div>
	<div class="wrap swiper js-swiper-cards">
		<div class="cards__img-wrap">
			<div class="cards__img-holder">
				<div class="cards__img has-cover" style="background-image: url({{img}});"></div>
			</div>
		</div>
		<div class="cards__content swiper-wrapper">
			{{#each card}}
			<div class="card{{#if active}} card--active{{/if}} js-card swiper-slide card-{{@index}}" data-id="{{@index}}">
                <div class="card__info">
                    {{#if title}}
					<h2 class="card__title">{{title}}</h2>
					{{/if}}
					{{#if text}}
					{{#each text}}
					<p class="card__text">{{this}}</p>
					{{/each}}
					{{/if}}
                </div>
            </div>
			{{/each}}
		</div>
		<div class="swiper-pagination cards__pagination js-cards-pagination"></div>
	</div>
</div>
