@inherits UmbracoViewPage<GradimoZajedno.Core.ViewModels.Pages.PageViewModel>

<div class="cookie js-cookie">
	<div class="cookie__content">
		<div class="cookie__top">
			<button type="button" class="cookie__btn-close js-close-cookie">
				<span class="icon font-ico-close"></span>
				<span class="sr-only">@Umbraco.GetDictionaryValue("Cookie.Close")</span>
			</button>
			<span class="h1 cookie__title">@Umbraco.GetDictionaryValue("Cookie.Title")</span>
			<p class="text text--sm cookie__text">@Umbraco.GetDictionaryValue("Cookie.Text")</p>
		</div>
		<div class="cookie__bottom">
			<button type="button" class="btn cookie__btn cookie__btn--accept">@Umbraco.GetDictionaryValue("Cookie.Allow")</button>
			<button type="button" class="btn btn--outline cookie__btn cookie__btn--settings">@Umbraco.GetDictionaryValue("Cookie.Decline")</button>
		</div>
	</div>
</div>
