<div class="block">
	<div class="block__bg has-cover" style="background-image: url({{bgImg}});"></div>
	<div class="wrap">
		<div class="block__content">
			{{#each col}}
			<div class="block__col{{#if sm}} block__col--sm{{/if}}">
				{{#if title}}
				<h3 class="h1 block__title">{{title}}</h3>
				{{/if}}
				{{#if img}}
				<img class="block__img" src="{{img.src}}" alt="{{img.alt}}">
				{{/if}}
				{{#if text}}
				<div class="text block__text">
					{{#each text}}
						<div>
							{{this}}
						</div>
					{{/each}}
				</div>
				{{/if}}
				{{#if link}}
				<a class="btn block__btn" href="{{link.url}}">{{link.name}}</a>
				{{/if}}
			</div>
			{{/each}}
		</div>
	</div>
</div>
