<div class="cookie js-cookie">
	<div class="cookie__content">
		<div class="cookie__top">
			<button type="button" class="cookie__btn-close js-close-cookie">
				<span class="icon font-ico-close"></span>
				<span class="sr-only">{{closeBtn}}</span>
			</button>
			{{#if title}}
			<span class="h1 cookie__title">{{title}}</span>
			{{/if}}
			{{#if text}}
			<p class="text text--sm cookie__text">{{text}}</p>
			{{/if}}
		</div>
		<div class="cookie__bottom">
			<button type="button" class="btn cookie__btn cookie__btn--accept">{{acceptBtn}}</button>
			<button type="button" class="btn btn--outline cookie__btn cookie__btn--settings">{{settingsBtn}}</button>
		</div>
	</div>
</div>